
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Home*/
$first-color: #b3b0aa;
$second-color: #474E5D;


.first-color {
  color: $first-color;
}
.second-color {
  color: $second-color;
}

.flexing {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}

.section {
  flex: 1;
  position: relative;
  transition: 0.5s ease;

  &--first-color {
    background-color: $first-color;
  }

  &--second-color {
    background-color: $second-color;
    
  }

  &:hover, &:active, &:focus {
    flex: 2;
    .title {
      transform: translate(-50%, -50%) rotate(0);
      
      @media screen and (min-width: 1000px) {
        transform: translate(-50%, -50%) scale(1.25);
      }
    }
  }

  .title {
    font-family: "Fredoka One";
    font-size: 5rem;
    left: 50%;
    margin: 0;  
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;

    @media screen and (min-width: 1000px) {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
/*End Home*/


.candidates-section {
  padding: 50px;
  text-align: center;
  background-color: $first-color;
  color: white;
}

.about-section {
  display: flex;
  height: 100vh;
  background-color: $second-color;
  flex-wrap: wrap;
  padding: 20px;  

  &-area {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex: 1;
    font-size: 32px; 
    min-width: 300;
    
  }
}


.about-title {
  font-family: 'Playfair Display', serif;
  color: $first-color;

}

/*Table Section*/
table, td, th {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}
/*End of Table Section*/


/*Pagination*/
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li button.active {
  background-color: $first-color;
  color: white;
}

ul.pagination li button:hover:not(.active) {background-color: #ddd;}
/*End Pagination*/

.btn {
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: .25rem;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-primary {
  color: $second-color;
  background-color: $first-color;
  border: 1px solid $second-color;
  margin: 0px;

  &:hover {
    background-color: $second-color;
    border: 1px solid $second-color;
    color: $first-color;
  }
}

.icon
{
  color: $second-color;
  background-color: $first-color;
  padding:8px; 
  border: 2px solid $second-color;
  border-radius: 50%;

  &:hover {
    background-color: $second-color;
    border: 1px solid $second-color;
    color: $first-color;
  }
}


.user-card {
  color: $second-color;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  padding: 30px;
  border: 3px solid $second-color;
  background-color: white;

  &-details {
    text-align: center;
  }
}

  
  
